.search-box{
    background-color: #40474d;
    padding: 15px;
    margin: 20px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box input{
    background-color: #40474d;
    outline: none;
    width: 100%;
    color: white;
}