.function-container{
    margin: 17px;
    background-color: #282c32;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.setting-function{
    background-color: #3b4049;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 15px;
    color: #b7b7b8;
    font-size: 12px;
}

.setting-function:hover{
    border: 2px solid #53585c;
}

select:focus{
    outline: none;
    border: 2px solid #5a9cff;
}

select{
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    background-color: #3b4049;
    color: #ccccd0;
    border: 2px solid #87878a;
}

select:focus{
    outline: none;
    border: 2px solid #b1cdf6;
}

.card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 15px;
    color: #777a7c;
    text-align: center;
    margin-bottom: 100px;
}

.card i{
    color: #c8cfdb;
    font-size: 50px;
    text-shadow:0px 0px 10px #cfcfcf;
}

.card h1{
    color: #aeb0b3;
}

.card h3{
    color: #d3d6da;
}

button{
    padding: 10px;
    border-radius: 20px;
    color: #282c32;
    font-weight: 600;
    background-color: #aeb0b3;
}