*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    border: 0;
    padding: 0;
}

body{
    background-color: #1c2025;
}
 
nav{
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: #1f2329;
    box-shadow:0px 0px 8px 3px #3a3f46;
}

.nav-item{
    color: #adaeb1;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

i{
    font-size: 18px;
    color: #adaeb1;
}

.header{
    margin: 20px;
    color: #b2b3b3;
    text-shadow: 0px 0px 10px #6a6c6f;
}