*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: #282c32;
}
 
nav{
    position: fixed;
    bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 14px;
    align-items: center;
    border-radius: 30px;
    box-shadow:0px 0px 8px 3px #454b54;
}

.nav-item{
    color: #adaeb1;
    text-align: center;
    text-decoration: none;
}

.nav-item i{
    font-size: 20px;
}

.header{
    color: #9a9c9d;
    margin: 15px;
    text-shadow: 0px 0px 10px #6a6c6f;
}